/*.side-grid{
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}*/

.page-grid{
	display: grid;
	gap: 1rem;
	grid-template-columns: 4fr 1fr;
	padding: 30px 100px;
}

.cards-col{
	display: grid;
	/*gap: 1rem;*/
	/*grid-template-columns: repeat(auto-fit, minmax(240px, 6fr));*/
	grid-template-columns: 1fr 1fr 1fr;
}

/* Small screens */
@media only screen and (max-width: 600px) {
	main{
		padding: 5px;
	}

	.side-col{
		display: none;
	}

/*	.page-grid, .cards-col{
		grid-template-columns: 1fr;
	}*/

	.cards-col{
		grid-template-columns: 1fr;
	}
}